* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color: #555;
    font-family: Georgia, 'Times New Roman', Times, serif,;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}  

#section-heading {
    position: relative;
}

.header-nav {
    position: absolute;
    top: 50px;
    right: 50px;
}
.header-nav ul {
    list-style-type: none;
}
.header-nav li {
    display: inline-block;
    padding: 7px;
}
.header-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #4ea852;
}
.header-nav li a:hover,
.header-nav li a:active {
    color: #08f714;
}

.header-back-img {
    margin-top: 10px;
    width: 800px;
}

.poltea-heading {
    font-size: 200%;
    text-transform: uppercase;
    color: #4ea852;
    position: absolute;
    width: 1140;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.poltea-heading p  {
    font-size: 25px;
}












